<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Vlad for NY</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Platform</a></li>
					<li><a href="/values" class="link">Meet Vlad</a></li>
					<li><a href="/post" class="link">In The News</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://fb.me/VladPavlyukNY" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/VladPavlyukNY" "svg" "icons-twitter") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
